:root {
  /* declaring css variables */
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

@font-face {
  font-family: Figtree;
  src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

/* first time using variable font weight */
.figtree-500 {
  font-family: Figtree;
  font-variation-settings: 'wght' 500;
}

.figtree-900 {
  font-family: Figtree;
  font-variation-settings: 'wght' 900;
}

body {
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Figtree;
  /* first time using clamp */
  font-size: clamp(0.5rem, calc(0.625rem + 1vmin), 1em);
}

article {
  background-color: var(--white);
  margin: 1rem;
  max-width: 24rem;
  padding: 1.5rem;
  outline: solid;
  border-radius: 20px;
  box-shadow: 11px 8px 0px 0px black;

  @media screen and (min-width: 378px) {
    margin: auto;
  }
}

img[alt="illustration-article"] {
  border-radius: 15px;
  /* first time using object-fit */
  object-fit: contain;
}

header {
  p {
    background-color: var(--yellow);
    max-width: fit-content;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    margin: 1.5rem 0 0.75rem 0;
  }
}

p.figtree-500 {
  color: var(--gray-500);
  margin: 1.25rem 0;
}

footer.author {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    max-height: 2rem;
    max-width: 2rem;
  }

  p {
    margin: auto 0.5rem;
  }
}

footer.attribution {
  font-size: 0.75rem;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}